/*********************** TABLETTE ***********************/

@media screen and (min-width: 481px) and (max-width: 960px) {
  /* header */
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  header > div {
    display: none;
  }
  header nav {
    display: flex;
    flex-direction: row;
    position: initial;
    width: auto;
  }
  header > nav > ul {
    display: flex;
    background-color: transparent;
  }
  header > nav > ul > li {
    border: none !important;
    padding: 10px;
  }
  header > nav > ul > li > a:hover {
    color: #333;
  }
  .active-link {
    background-color: #fff;
    border-radius: 5px;
    color: #333;
  }
  .active-link:hover {
    background-color: #fff5;
  }
  .active-link a {
    color: #333;
  }
  header > nav > ul > li > a{
    color: #fff;
  }
  

  /* actualites */
  .actualites .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .actualites .container article {
    width: 45%;
  }

  /* vos avis */
  .vos-avis .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .vos-avis .container article {
    width: 45%;
  }

  /* statistiques */
  .statistiques .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .statistiques .container article {
    width: 45%;
  }
  .statistiques .container article:nth-of-type(3) {
    width: 100%;
  }
}

/*********************** ORDINATEUR ***********************/

@media screen and (min-width: 961px) {
  /* header */
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  header > div {
    display: none;
  }
  header nav {
    display: flex;
    flex-direction: row;
    position: initial;
    width: auto;
  }
  header > nav > ul {
    display: flex;
    background-color: transparent;
  }
  header > nav > ul > li {
    border: none !important;
    padding: 10px;
  }

  header > nav > ul > li > a:hover {
    color: #333;
  }
  .active-link {
    background-color: #fff;
    border-radius: 5px;
    color: #333;
  }
  .active-link:hover {
    background-color: #fff5;
  }
  .active-link a {
    color: #333;
  }
  header > nav > ul > li > a{
    color: #fff;
  }

  
  /* accueil */
  .accueil {
    height: calc(100vh - 70px);
  }


  /* actualites */
  .actualites {
  }
  .actualites .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
  }
  .actualites .container article {
    width: 20%;
  }

  /* vos avis */
  .vos-avis .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .vos-avis .container article {
    width: 45%;
  }
  section {
    padding: 100px 5%;
    /* margin-bottom: 50px; */
  }

  /* statistiques */
  .statistiques .container {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .statistiques div article {
    width: 250px;;
  }
}
