
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #05c46b;
    height: 100%;
}
nav ul {
    list-style: none;
}
nav ul li {

}
nav ul li a {
    text-decoration:  none;
    padding: 5px;
}
nav:hover ul {

}

/* MAIN */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* ACCUEIL */
.accueil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 480px;
    background-color: #eee;
    text-align: center;
    height: 70vh;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(80, 80, 80, 0.5), rgba(0, 0, 0, .8)), url('/img/heart-hands.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-clip: border-box;
}
.accueil h2 {
    color: #111;
    font-size: 48px;
}
.accueil button {
    background-color: #05c46b;
    /* border: none; */
    color: #fff;
    padding: 15px 30px;
    border-radius: 10px;
    text-transform: uppercase;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: 1px solid #fff;
    font-size: 24px;
}

/* ACTUALITES */
.actualites {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #fff;
}
.actualites h2 {
    color: #05c46b;
    margin-bottom: 50px;
    padding-bottom: 20px;
    border-bottom: 5px solid #555;
}
.actualites article {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 20px 0;
    border: 1px solid #05c46b;
    background-color: #f9f9f9;
}
.actualites article img {
    width: 100%;
    height: 200px;
}
.actualites article h3 {
    text-align: center;
    padding: 20px;
    color: #05c46b;
}

/* VOS AVIS */
.vos-avis {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.vos-avis h2 {
    color: #05c46b;
    margin-bottom: 50px;
    padding-bottom: 20px;
    border-bottom: 5px solid #555;
}
.vos-avis article {
    display: flex;
flex-direction: column;
align-items: center;
max-width: 400px;
}
.vos-avis article img {
    width: 50%;
    max-width: 150px;
    background-color: #f1f1f1;
    border-radius: 50%;

}
.vos-avis article p {
    padding: 0 20px;
    text-align: center;
}
.vos-avis article p q {
    font-style: italic;
}



/* STATISTIQUES */

.statistiques {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #eee;
    width: 100%;
    max-width: 400px;

}
.statistiques h2 {
    border-bottom: 5px solid #555;
    margin-bottom: 50px;
    padding-bottom: 20px;
    color: #05c46b;
}
.statistiques article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    border: 1px solid #222;
    width: 50%;
    margin: 10px;
    padding: 10px;
    background-color: #eee;

}
.statistiques article h4 {

}
.statistiques article p {

}



/*********** framework **********/
section {
    padding:  30px 20px;
}





