
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #05c46b;
    height: 100%;
}

nav ul {
    list-style: none;
}
nav ul li {

}

nav ul li a {
    text-decoration:  none;
    padding: 5px;
}

nav:hover ul {

}


/* main */
main {

}
/* section home */
section:nth-child(1) {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background-color: #eee;
    text-align: center;
    height: 70vh;
    background-image: url('/img/heart-hands.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-clip: border-box;
}
section:nth-child(1) button {
    background-color: #05c46b;
    border: none;
    color: #fff;
    padding: 15px 30px;
    border-radius: 10px;
    text-transform: uppercase;
    cursor: pointer;
}

/* section actualites */
section:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #fff;
}
section:nth-child(2) h2 {
    color: #05c46b;
    margin-bottom: 50px;
    padding-bottom: 20px;
    border-bottom: 5px solid #555;
}

section:nth-child(2) article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    border: 1px solid #05c46b;
    background-color: #f9f9f9;
}

section:nth-child(2) article img {
    width: 100%;
    height: 200px;
}

section:nth-child(2) article h3 {
    text-align: center;
    padding: 20px;
    color: #05c46b;
}

/* section agenda */


/* section statistics */

section:nth-child(4) {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #eee;

}

section:nth-child(4) h2 {
    border-bottom: 5px solid #555;
    margin-bottom: 50px;
    padding-bottom: 20px;
    color: #05c46b;
}

section:nth-child(4) article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #222;
    width: 50%;
    margin: 10px;
    padding: 10px;
    background-color: #eee;

}

section:nth-child(4) article h4 {

}

section:nth-child(4) article p {

}



/*********** framework **********/
section {
    padding:  30px 20px;
}